@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

:root {
  --white: #fff;
  --black: #171718;
  --black-border: #ffaa00;
  --peach: #ff565e;
  --txt-clr: var(--black);
  --dark-bg: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --accent: var(--peach);
  --page-bg: var(--white);
  --title-1: var(--accent);
  --project-card-bg: var(--white);
  --project-card-txt: var(--black);
  --shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
  --btn-outline-clr: var(--txt-clr);
  --btn-outline-bg: var(--white);
  --btn-outline-border: var(--black);
}

/* Dark Mode */
.dark {
  --page-bg: var(--black);
  --txt-clr: var(--white);
  --title-1: var(--white);
  --project-card-bg: var(--black);
  --project-card-txt: var(--white);
  --shadow: 2px 2px 2px 2px rgba(100, 100, 100, 0.5);
}

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;
  color: var(--txt-clr);
  background-color: var(--page-bg);
}

/* Used for reference. Delete after development. */
/* * {
  border: 1px solid red;
} */

/* General */
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.none {
  display: none !important;
}

.title-1 {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.4;
  color: var(--title-1);
  text-align: center;
}

.title-2 {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
}

.section {
  padding: 65px 0;
}

/* Navigation */
.nav {
  padding: 20px 0;
  color: var(--header-text);
  background-color: var(--dark-bg);
  border-bottom: 1px solid var(--black-border);
}

.nav-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 35px;
  row-gap: 15px;
  flex-wrap: wrap;
}

.logo {
  margin-right: auto;
  font-size: 24px;
  letter-spacing: 0.1rem;
  font-family: "Poppins", sans-serif;
  color: var(--header-text);
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 35px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.nav-list__link {
  color: var(--header-text);
  transition: opacity 0.3s ease-in;
}

.nav-list__link:hover {
  opacity: 0.8;
}

.nav-list__link--active {
  position: relative;
}

.nav-list__link--active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
}

/* Dark Mode Button */
.dark-mode-btn {
  order: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 51px;
  height: 26px;
  padding: 5px;
  border-radius: 50px;
  background-color: #272727;
}

.dark-mode-btn::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  transition: left 0.2s ease-in;
}

.dark-mode-btn--active::before {
  left: 26px;
}

.dark-mode-btn__icon {
  position: relative;
  z-index: 1;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 695px;
  text-align: center;
  padding: 40px 0;
  color: var(--header-text);
  background-color: var(--dark-bg);
  background-image: url("../img/projects/header-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}

.header__wrapper {
  max-width: 660px;
  padding: 0 15px;
}

.header__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 20px;
}

.header__title strong {
  font-size: 50px;
}

.header__title span {
  color: var(--accent);
}

.header__text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.header__text p + p {
  margin-top: 1em;
}

/* Button */
.btn {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--accent);
  transition: opacity 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  scale: 0.98;
}

/* Button Outline */
.btn-outline {
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  border-radius: 5px;
  border: 1px solid var(--btn-outline-border);
  color: var(--btn-outline-clr);
  background-color: var(--btn-outline-bg);
  box-shadow: var(--shadow);
}

.btn-outline:hover {
  opacity: 0.8;
}

/* Projects */
.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}
.project {
  max-width: 360px;
  border-radius: 5px;
  background-color: var(--project-card-bg);
  box-shadow: var(--shadow);
}
.project__img {
  border-radius: 5px 5px 0 0;
}
.project__title {
  padding: 15px 20px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--project-card-txt);
}

/* Project details */
.project-details {
  margin: 0 auto;
  max-width: 865px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-details__cover {
  max-width: 100%;
  margin-bottom: 40px;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.project-details__desc {
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 30px;
}

/* Content List */
.content-list {
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 30px;
  margin: 0 auto;
}

.content-list a {
  color: var(--accent);
}

.content-list__item {
  font-size: 18px;
  line-height: 1.4;
}

.content-list__item p + p {
  margin-top: 1em;
}

/* Footer */
.footer {
  margin-top: auto;
  padding: 65px 0;
  color: var(--header-text);
  background-color: var(--dark-bg);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 27px;
}

.copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

.copyright p + p {
  margin-top: 1em;
}

@media (max-width: 620px) {
  .header {
    min-height: unset;
  }
  .header__title {
    font-size: 24px;
  }
  .header__title strong {
    font-size: 24px;
  }
  .nav-row {
    justify-content: space-between;
  }
  .dark-mode-btn {
    order: 0;
  }
  .btn {
    font-size: 14px;
    padding: 15px 20px;
  }
  .section {
    padding: 35px 0;
  }
  .title-1 {
    margin-bottom: 15px;
    font-size: 36px;
  }
  .title-2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .project__title {
    font-size: 20px;
  }
  .project-details__desc {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .content-list__item {
    row-gap: 16px;
    font-size: 16px;
  }
  .footer {
    padding: 35px 0;
  }
  .social__item {
    width: 24px;
  }
}
