@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");

/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

:root {
  --white: #fff;
  --black: #171718;
  --black-border: #26292d;
  --purple: #5c62ec;

  --txt-clr: var(--black);
  --dark-bg: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --accent: var(--purple);
}

html,
body {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;
  color: var(--txt-clr);
}

/* Used for reference. Delete after development. */
* {
  border: 1px solid red;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

/* Navigation */
.nav {
  padding: 20px 0;
  color: var(--header-text);
  background-color: var(--dark-bg);
  border-bottom: 1px solid var(--black-border);
}

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 35px;
  row-gap: 15px;
  flex-wrap: wrap;
}

.logo {
  font-size: 24px;
  letter-spacing: 0.1rem;
  font-family: "Poppins", sans-serif;
  color: var(--header-text);
}

.nav-list {
  display: flex;
  align-items: center;
  column-gap: 35px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.nav-list__link {
  color: var(--header-text);
}

.nav-list__link--active {
  position: relative;
}

.nav-list__link--active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  height: 2px;
  width: 100%;
  background-color: var(--accent);
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 695px;
  text-align: center;
  padding: 40px 0;
  color: var(--header-text);
  background-color: var(--dark-bg);
}

.header__wrapper {
  max-width: 660px;
  padding: 0 15px;
}

.header__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.4;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 20px;
}

.header__title strong {
  font-size: 40px;
}

.header__title span {
  color: var(--accent);
}

.header__text {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.header__text p + p {
  margin-top: 1em;
}

.btn {
}
